.navbar-fixed
    height 104px
.collection .collection-item.avatar
    padding-top 20px
#songs-collection
    .material-icons
        float right
        font-size 40px
        color green
#playlist-collection
    .material-icons
        float right
        font-size 40px
        color red